extends ../shared/_layout
//- include sidebar

block content
    if isAuthenticated
        .row
            #sidebar.col.s12.m4.l3
                h4 My feeds
                if feeds.length > 0
                    ul
                        each feed in feeds
                            li.row
                                .col.s10.m10.l10
                                    a(href=feed.feedUrl) 
                                        h6
                                            =feed.feedName
                                .col.s2.m2.l2
                                    a.secondary-content.tooltipped(href='javascript:void(0)', data-position="bottom", data-delay="50", data-tooltip="Unfollow feed")
                                        i.btn-unfollow.material-icons(data-name=feed.feedName, data-username=user.username) clear
                else
                    p You are not following any feeds yet

            .col.s12.m8.l9
                h4 My saved articles
                if articles.length > 0
                    ul.collection
                        each article in articles
                            - const title = article.articleTitle;
                            li.row.collection-item 
                                .col.s10.m10.l10
                                    a.collection-item(href=article.articleUrl, target='_blanc')
                                        =title
                                .col.s2.m2.l2
                                    a.secondary-content.tooltipped(href='javascript:void(0)', data-delay="50", data-position="bottom", data-tooltip="Remove article")
                                        i.btn-delete-article.material-icons(data-title=article.articleTitle, data-username=user.username) clear
                else
                    p You have not saved any articles yet