extends ../shared/_layout

block content
    .row
        .col.s12.m4.l3
            h4 Add category
            form#admin-add-category(method='post', action='/admin/edit/addcategory')
                .form-group
                label(for="category-title") Category title
                br
                input#category-title(type='text', name='category')
                br
                br
                button.btn.btn-submit(type='submit') Submit
            br
            br
            h4 Add feed
            form#admin-add-feed(method="post", action="/admin/edit/addfeed")
                .form-group
                label(for="feed-category") Feed Category
                br
                select#feed-category(name='category')
                    if categories
                        option(value='', disabled, selected) Choose a category 
                        each category in categories
                            option(value=category.name)= category.name
                    
                br
                label(for="feed-title") Feed Title
                br
                input#feed-title(name="title")
                br
                label(for="feed-url") Feed URL
                br
                input#feed-url(name="url")
                br
                label(for="feed-image") Feed image URL
                br
                input#feed-image(name="image")
                br
                label(for="feed-description") Feed description
                br
                input#feed-description(name="description")
                br
                br
                button.btn.btn-submit(type='submit') Submit
            
        .col.s12.m8.l9
            if categories
                each category in categories
                    .row.admin-cat-head
                        .col.s4.m3.l2
                            h4.admin-cat-name= category.name
                        .col.s2.m1.l1    
                            a.btn.btn-floating.btn-delete.tooltipped.no-padding(href='/admin/edit/deletecategory/' + category._id, data-position="bottom", data-delay="50", data-tooltip="Delete category")
                                i.material-icons delete
                    table.highlight.bordered
                        thead
                            tr
                                th Feed name
                                th Feed url
                                th Feed image
                                th Feed description
                                th.options Options
                        tbody
                            if category.feeds
                                each feed in category.feeds
                                    tr
                                        td
                                            .td-inner= feed.title
                                        td
                                            .td-inner= feed.feedUrl
                                        td
                                            .td-inner= feed.imageUrl
                                        td
                                            .td-inner= feed.description
                                        td.options 
                                            a.btn.btn-delete.btn-floating.tooltipped.no-padding(href='/admin/edit/deletefeed/' + category._id + '/' + feed.id, data-position="bottom", data-delay="50", data-tooltip="Delete feed")
                                                i.material-icons delete
                                            a.btn.btn-edit.btn-floating.tooltipped.no-padding(href='#!', data-position="bottom", data-delay="50", data-tooltip="Edit feed")
                                                i.material-icons edit