extends ../shared/_layout
block content
    .row
        .col.s12.m12.l7
            h3
                =feedname
        .col.s12.m12.l5
            .feed-buttons
                a.btn.btn-refresh(href=originalurl + '/refresh') Refresh feed
                if isAuthenticated
                    button.btn.btn-follow(type='button', data-name=feedname, data-url= originalurl, data-username=user.username) Follow feed
                else
                    a.btn.btn-follow(href='/login') Log in to Follow feed 
    br
    br
    hr
    if rows.length > 0
        each row, index in rows
            .row
                .col.l1
                each article in row
                    - const date = article.date.toString().slice(0,11);
                    - const articleUrl = article.articleUrl
                    - const articleTitle = article.title
                    .col.s12.m4.l3.feed-article
                        img.feed-article-image(src=article.imageUrl)
                        p.date
                            =date
                            //- i.material-icons add
                        a.feed-article-title(href=originalurl + '/' + article.id)
                            h5
                                =article.title
                        .feed-article-summary
                            !=article.summary
                        //- .feed-article-content
                            !=article.description
                        br
                        if isAuthenticated
                            button.btn.btn-save-article(type='button', data-title=articleTitle, data-url= articleUrl, data-image=article.imageUrl, data-username=user.username) Save article
                        else 
                            a.btn(href='/login') Log in to save article
                        a.btn.btn-primary.btn-med(href=originalurl + '/' + article.id) Read full article
                        br
                        hr
    else
        h2 There are no articles to display in this feed