extends ../shared/_layout

block content
    .row
        .col.l1
        if feeds.length > 0
            each feed in feeds
                - const feedurl = encodeURIComponent(feed.feedUrl)
                - const feedtitle = encodeURIComponent(feed.title)
                - const originalurl = '/category/' + name + '/' + feedtitle + '/' + feedurl
                .col.s12.m5.l3.feed
                    img.feed-image(src=feed.imageUrl)
                    a.feed-title(href=originalurl)
                        h5
                            =feed.title
                    br
                    br
                    p.feed-description
                        =feed.description
                    if isAuthenticated
                        button.btn.btn-follow(type='button', data-name=feed.title, data-url= originalurl, data-image=feed.imageUrl, data-username=user.username) Follow feed
                    else
                        a.btn.btn-follow(href='/login') Log in to Follow feed
                    br
                    hr
                    br
        else
            h3 There are no feeds to display in this category
